.vfb-export-container {
    max-width: calc(100vw - 194.5px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 352px;
}

.vfb-export-code {
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-left: auto;
    margin-right: auto;
}

.vfb-export-copy-container {
    display: none;
}

.vfb-export-copy-icon {
    margin-right: 0.25rem;
}

.vfb-export-copied-container {
    display: none;
}

.vfb-export-copied-icon {
}