@use '../variables' as *;
@use '_vars' as *;

.vfb-preview-container {
    width: 100%;
    max-width: 660px !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &.vfb-hidden {
        display: none;
    }
}

.vfb-preview-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    transition: all 0.3s;
}

.vfb-builder:has(.vfb-preview-wrapper.vfb-preview-wrapper-preview) .vfb-left-container {
    background: $gray-100;
    transform: translateX(-100%);

    .vfb-bottom-left-tools-container {
        display: none;
    }
}

.vfb-builder:has(.vfb-preview-wrapper.vfb-preview-wrapper-preview) .vfb-right-container {
    background: $gray-100;
    transform: translateX(100%);

    .vfb-top-right-tools-container {
        display: none;
    }
}

.vfb-preview-wrapper-dark {
    background-color: #1f2937;
    color: #ffffff;

    .vfb-preview-empty-title {
        color: #ffffff;
    }

    .vfb-preview-empty-description {
        color: #9ca3af;
    }
}

.vfb-preview-drag-wrapper {
    background-color: #3b82f6;
    position: absolute;
    height: 0.25rem;
    border-radius: 9999px;
    pointer-events: none;
    left: -0.5rem;
    right: -0.5rem;
    top: -0.125rem;
    margin-top: 2rem;
}

.vfb-preview-drag-label {
    background-color: #3b82f6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.1875rem;
    border-radius: 9999px;
    line-height: 1;
    font-size: 0.625rem;
    color: #ffffff;
}

.vfb-preview-empty-container {
    border-radius: 0.75rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.75;
    transition: all 0.3s;
    background: $white;
    border: 1px solid $white;
}

.vfb-preview-empty-container-active {
    background: $primary-50;
    border: 1px solid $primary-200;
}

.vfb-preview-empty-container-inactive {
    background: $white;
}

.vfb-preview-empty-icon-container {
    color: $primary-300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    font-size: 4rem;
}

.vfb-preview-empty-icon {
}

.vfb-preview-empty-title {
    font-weight: 600;
    font-size: 18px;
}

.vfb-preview-empty-description {
    color: #6b7280;
}

.vfb-preview-form > .form-bg-danger {
    display: none;
}

.vfb-preview-form > div {
    display: flex;
    flex-direction: column;
    gap: 40px;


}

.vfb-preview-form-with-tabs {
    margin-top: -0.5rem;
}

.vfb-preview-container-default {
    .col-span-1 {
        grid-column: span 1 / span 1 !important;
    }

    .col-span-2 {
        grid-column: span 2 / span 2 !important;
    }

    .col-span-3 {
        grid-column: span 3 / span 3 !important;
    }

    .col-span-4 {
        grid-column: span 4 / span 4 !important;
    }

    .col-span-5 {
        grid-column: span 5 / span 5 !important;
    }

    .col-span-7 {
        grid-column: span 7 / span 7 !important;
    }

    .col-span-8 {
        grid-column: span 8 / span 8 !important;
    }

    .col-span-9 {
        grid-column: span 9 / span 9 !important;
    }

    .col-span-10 {
        grid-column: span 10 / span 10 !important;
    }

    .col-span-11 {
        grid-column: span 11 / span 11 !important;
    }

    .col-span-12 {
        grid-column: span 12 / span 12 !important;
    }

    // Vertical
    .form-text-type label.text-type\:form-pt-input-border {
        padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important;
    }

    label.form-pr-gutter {
        padding-right: var(--vf-gutter) !important;
    }

    label.pb-0 {
        padding-bottom: 0 !important;
    }

    // Horizontal
    label.form-pb-gutter\/3 {
        padding-bottom: calc(var(--vf-gutter) / 3) !important;
    }

    .form-text-type label.form-pt-0, :not(.form-text-type) label.form-pt-0 {
        padding-top: 0 !important;
    }

    label.form-pr-0 {
        padding-right: 0 !important;
    }

    // SM element size
    label.form-pr-gutter-sm {
        padding-right: var(--vf-gutter-sm) !important;
    }

    label.form-pb-gutter\/3-sm {
        padding-bottom: calc(var(--vf-gutter-sm) / 3) !important;
    }

    // LG element size
    .form-text-type label.text-type\:form-pt-input-border-lg {
        padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important;
    }

    label.form-pr-gutter-lg {
        padding-right: var(--vf-gutter-lg) !important;
    }

    label.form-pb-gutter\/3-lg {
        padding-bottom: calc(var(--vf-gutter-lg) / 3) !important;
    }
}

.vfb-preview-container-tablet {
    .col-span-1 {
        grid-column: span 1 / span 1 !important;
    }

    .col-span-2 {
        grid-column: span 2 / span 2 !important;
    }

    .col-span-3 {
        grid-column: span 3 / span 3 !important;
    }

    .col-span-4 {
        grid-column: span 4 / span 4 !important;
    }

    .col-span-5 {
        grid-column: span 5 / span 5 !important;
    }

    .col-span-6 {
        grid-column: span 6 / span 6 !important;
    }

    .col-span-7 {
        grid-column: span 7 / span 7 !important;
    }

    .col-span-8 {
        grid-column: span 8 / span 8 !important;
    }

    .col-span-9 {
        grid-column: span 9 / span 9 !important;
    }

    .col-span-10 {
        grid-column: span 10 / span 10 !important;
    }

    .col-span-11 {
        grid-column: span 11 / span 11 !important;
    }

    .col-span-12 {
        grid-column: span 12 / span 12 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-1 {
        grid-column: span 1 / span 1 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-2 {
        grid-column: span 2 / span 2 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-3 {
        grid-column: span 3 / span 3 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-4 {
        grid-column: span 4 / span 4 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-5 {
        grid-column: span 5 / span 5 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-6 {
        grid-column: span 6 / span 6 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-7 {
        grid-column: span 7 / span 7 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-8 {
        grid-column: span 8 / span 8 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-9 {
        grid-column: span 9 / span 9 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-10 {
        grid-column: span 10 / span 10 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-11 {
        grid-column: span 11 / span 11 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-12 {
        grid-column: span 12 / span 12 !important;
    }

    // Vertical
    .form-text-type label.text-type\:form-pt-input-border {
        padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important;
    }

    label.form-pr-gutter {
        padding-right: var(--vf-gutter) !important;
    }

    label.pb-0 {
        padding-bottom: 0 !important;
    }

    // Horizontal
    label.form-pb-gutter\/3 {
        padding-bottom: calc(var(--vf-gutter) / 3) !important;
    }

    .form-text-type label.form-pt-0, :not(.form-text-type) label.form-pt-0 {
        padding-top: 0 !important;
    }

    label.form-pr-0 {
        padding-right: 0 !important;
    }

    // SM element size
    .form-text-type label.text-type\:form-pt-input-border-sm {
        padding-top: calc(var(--vf-py-input-sm) + var(--vf-border-width-input-t)) !important;
    }

    label.form-pr-gutter-sm {
        padding-right: var(--vf-gutter-sm) !important;
    }

    label.form-pb-gutter\/3-sm {
        padding-bottom: calc(var(--vf-gutter-sm) / 3) !important;
    }

    // LG element size
    .form-text-type label.text-type\:form-pt-input-border-lg {
        padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important;
    }

    label.form-pr-gutter-lg {
        padding-right: var(--vf-gutter-lg) !important;
    }

    label.form-pb-gutter\/3-lg {
        padding-bottom: calc(var(--vf-gutter-lg) / 3) !important;
    }


    // [SM] Vertical
    .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border {
        padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pr-gutter {
        padding-right: var(--vf-gutter) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:pb-0 {
        padding-bottom: 0 !important;
    }

    // [SM] Horizontal
    label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3 {
        padding-bottom: calc(var(--vf-gutter) / 3) !important;
    }

    .form-text-type label.#{$vfb-tablet-breakpoint}\:form-pt-0, :not(.form-text-type) label.#{$vfb-tablet-breakpoint}\:form-pt-0 {
        padding-top: 0 !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pr-0 {
        padding-right: 0 !important;
    }

    // [SM] SM element size
    .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border-sm {
        padding-top: calc(var(--vf-py-input-sm) + var(--vf-border-width-input-t)) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pr-gutter-sm {
        padding-right: var(--vf-gutter-sm) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3-sm {
        padding-bottom: calc(var(--vf-gutter-sm) / 3) !important;
    }

    // [SM] LG element size
    .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border-lg {
        padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pr-gutter-lg {
        padding-right: var(--vf-gutter-lg) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3-lg {
        padding-bottom: calc(var(--vf-gutter-lg) / 3) !important;
    }
}

.vfb-preview-container-desktop {
    .#{$vfb-tablet-breakpoint}\:col-span-1 {
        grid-column: span 1 / span 1 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-2 {
        grid-column: span 2 / span 2 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-3 {
        grid-column: span 3 / span 3 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-4 {
        grid-column: span 4 / span 4 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-5 {
        grid-column: span 5 / span 5 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-6 {
        grid-column: span 6 / span 6 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-7 {
        grid-column: span 7 / span 7 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-8 {
        grid-column: span 8 / span 8 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-9 {
        grid-column: span 9 / span 9 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-10 {
        grid-column: span 10 / span 10 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-11 {
        grid-column: span 11 / span 11 !important;
    }

    .#{$vfb-tablet-breakpoint}\:col-span-12 {
        grid-column: span 12 / span 12 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-1 {
        grid-column: span 1 / span 1 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-2 {
        grid-column: span 2 / span 2 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-3 {
        grid-column: span 3 / span 3 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-4 {
        grid-column: span 4 / span 4 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-5 {
        grid-column: span 5 / span 5 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-6 {
        grid-column: span 6 / span 6 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-7 {
        grid-column: span 7 / span 7 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-8 {
        grid-column: span 8 / span 8 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-9 {
        grid-column: span 9 / span 9 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-10 {
        grid-column: span 10 / span 10 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-11 {
        grid-column: span 11 / span 11 !important;
    }

    .#{$vfb-desktop-breakpoint}\:col-span-12 {
        grid-column: span 12 / span 12 !important;
    }


    // [SM] Vertical
    .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border {
        padding-top: calc(var(--vf-py-input) + var(--vf-border-width-input-t)) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pr-gutter {
        padding-right: var(--vf-gutter) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:pb-0 {
        padding-bottom: 0 !important;
    }

    // [SM] Horizontal
    label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3 {
        padding-bottom: calc(var(--vf-gutter) / 3) !important;
    }

    .form-text-type label.#{$vfb-tablet-breakpoint}\:form-pt-0, :not(.form-text-type) label.#{$vfb-tablet-breakpoint}\:form-pt-0 {
        padding-top: 0 !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pr-0 {
        padding-right: 0 !important;
    }

    // [SM] SM element size
    .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border-sm {
        padding-top: calc(var(--vf-py-input-sm) + var(--vf-border-width-input-t)) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pr-gutter-sm {
        padding-right: var(--vf-gutter-sm) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3-sm {
        padding-bottom: calc(var(--vf-gutter-sm) / 3) !important;
    }

    // [SM] LG element size
    .form-text-type label.#{$vfb-tablet-breakpoint}\:text-type\:form-pt-input-border-lg {
        padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pr-gutter-lg {
        padding-right: var(--vf-gutter-lg) !important;
    }

    label.#{$vfb-tablet-breakpoint}\:form-pb-gutter\/3-lg {
        padding-bottom: calc(var(--vf-gutter-lg) / 3) !important;
    }

    /* [LG] LG element size */
    .form-text-type label.lg\:text-type\:form-pt-input-border-lg {
        padding-top: calc(var(--vf-py-input-lg) + var(--vf-border-width-input-t)) !important;
    }

    label.lg\:form-pr-gutter-lg {
        padding-right: var(--vf-gutter-lg) !important;
    }

    label.lg\:form-pb-gutter\/3-lg {
        padding-bottom: calc(var(--vf-gutter-lg) / 3) !important;
    }
}