.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 0;
    padding: 12px;
}

.col-1 {
    max-width: calc(100% / 12);
}

.col-2 {
    max-width: calc(100% / 12 * 2);
}

.col-3 {
    max-width: calc(100% / 12 * 3);
}

.col-4 {
    max-width: calc(100% / 12 * 4);
}

.col-5 {
    max-width: calc(100% / 12 * 5);
}

.col-6 {
    max-width: calc(100% / 2);
}

@media screen and (max-width: 1200px) {
    .column {
        min-width: calc(100% / 12 * 4);
        width: calc(100% / 12 * 4);
    }
}

@media screen and (max-width: 900px) {
    .column {
        min-width: 50%;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .column {
        min-width: 100%;
        width: 100%;
    }
}
