
// Global colors
$black: #000000 !default;
$gray: #FBFCFC !default;
$white: #FFFFFF !default;

// Hix brand colors
$brand-gold: #EDC765 !default;
$brand-jade: #70A29F !default;
$brand-rose: #E9A9F0 !default;

// SecureLogin brand colors
$brand-sl-blue: #0F9BF3 !default;

// Gray colors
$gray-50: #F9F9FA !default;
$gray-100: #F3F3F5 !default;
$gray-200: #ECEDF0 !default;
$gray-300: #E6E7EB !default;
$gray-400: #CFCFD3 !default;
$gray-500: #ACADB0 !default;
$gray-600: #909093 !default;
$gray-700: #737375 !default;
$gray-800: #3A3A3B !default;
$gray-900: #171717 !default;

// Purple colors
$purple-50: #F7F2FE !default;
$purple-100: #EFE6FD !default;
$purple-200: #DECCFA !default;
$purple-300: #BD99F5 !default;
$purple-400: #9B66F0 !default;
$purple-500: #7A33EB !default;
$purple-600: #5900E6 !default;
$purple-700: #4300AC !default;
$purple-800: #2C0073 !default;
$purple-900: #16003A !default;

// Green colors
$green-50: #F2FEFB !default;
$green-100: #E6FDF7 !default;
$green-200: #CDFAF0 !default;
$green-300: #82F3D9 !default;
$green-400: #43EDC5 !default;
$green-500: #04E7B2 !default;
$green-600: #03B98E !default;
$green-700: #028B6B !default;
$green-800: #025C47 !default;
$green-900: #012E24 !default;

// Red colors
$red-50: #FEF5F2 !default;
$red-100: #FDECE6 !default;
$red-200: #FAD8CC !default;
$red-300: #F39D80 !default;
$red-400: #EC6B40 !default;
$red-500: #E63A00 !default;
$red-600: #B82E00 !default;
$red-700: #8A2300 !default;
$red-800: #5C1700 !default;
$red-900: #2E0C00 !default;

// Yellow colors
$yellow-50: #FEFDF2 !default;
$yellow-100: #FDFCE6 !default;
$yellow-200: #FAF8CC !default;
$yellow-300: #F3EE81 !default;
$yellow-400: #ECE541 !default;
$yellow-500: #E6DC02 !default;
$yellow-600: #B8B002 !default;
$yellow-700: #8A8401 !default;
$yellow-800: #5C5801 !default;
$yellow-900: #2E2C00 !default;

// Global font sizes
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;

// Primary colors
:root {
    --primary-color-50: #{$purple-50};
    --primary-color-100: #{$purple-100};
    --primary-color-200: #{$purple-200};
    --primary-color-300: #{$purple-300};
    --primary-color-400: #{$purple-400};
    --primary-color-500: #{$purple-500};
    --primary-color-600: #{$purple-600};
    --primary-color-700: #{$purple-700};
    --primary-color-800: #{$purple-800};
    --primary-color-900: #{$purple-900};

    --primary-text-contrast-50: #{$black};
    --primary-text-contrast-100: #{$black};
    --primary-text-contrast-200: #{$black};
    --primary-text-contrast-300: #{$black};
    --primary-text-contrast-400: #{$white};
    --primary-text-contrast-500: #{$white};
    --primary-text-contrast-600: #{$white};
    --primary-text-contrast-700: #{$white};
    --primary-text-contrast-800: #{$white};
    --primary-text-contrast-900: #{$white};

    --menu-height: 80px;

    @media (max-width: 640px) {
        --menu-height: 56px;
    }
}

// Measurements
$menu-height: var(--menu-height);

// Set the variables back to scss
$primary-50: var(--primary-color-50);
$primary-100: var(--primary-color-100);
$primary-200: var(--primary-color-200);
$primary-300: var(--primary-color-300);
$primary-400: var(--primary-color-400);
$primary-500: var(--primary-color-500);
$primary-600: var(--primary-color-600);
$primary-700: var(--primary-color-700);
$primary-800: var(--primary-color-800);
$primary-900: var(--primary-color-900);

$primary-text-contrast-50: var(--primary-text-contrast-50);
$primary-text-contrast-100: var(--primary-text-contrast-100);
$primary-text-contrast-200: var(--primary-text-contrast-200);
$primary-text-contrast-300: var(--primary-text-contrast-300);
$primary-text-contrast-400: var(--primary-text-contrast-400);
$primary-text-contrast-500: var(--primary-text-contrast-500);
$primary-text-contrast-600: var(--primary-text-contrast-600);
$primary-text-contrast-700: var(--primary-text-contrast-700);
$primary-text-contrast-800: var(--primary-text-contrast-800);
$primary-text-contrast-900: var(--primary-text-contrast-900);

$overlay-color: rgba(0, 0, 0, .05);