@layer primevue {
    .p-password {
        display: inline-flex;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .p-password .p-inputtext {
        opacity: 1;
        font-weight: 400 !important;
        letter-spacing: 0;
        text-align: left;
        line-height: 20px;
        font-size: 14px !important;
        padding: 8px 38px 8px 12px !important;
        border: 1px solid $gray-400 !important;
        border-radius: 4px !important;
        width: 100%;
    }

    .p-password-toggle-mask-icon {
        position: absolute;
        right: 12px;
        cursor: pointer;
    }

    .p-inputtext:enabled:hover {
        border-color: #94a3b8;
    }

    .p-inputtext:enabled:focus {
        outline: 1px solid var(--p-focus-ring-color);
        outline-offset: -1px;
        box-shadow: none;
        border-color: #94a3b8;
    }

    .p-inputtext.p-invalid.p-component {
        border-color: #f87171;
    }

    .p-inputtext.p-variant-filled {
        background-color: #f8fafc;
    }

    .p-inputtext.p-variant-filled:enabled:hover {
        background-color: #f8fafc;
    }

    .p-inputtext.p-variant-filled:enabled:focus {
        background-color: #ffffff;
    }

    .p-inputtext.p-inputtext-sm {
        font-size: 0.875rem;
        padding: 0.4375rem 0.65625rem;
    }

    .p-inputtext.p-inputtext-lg {
        font-size: 1.25rem;
        padding: 0.625rem 0.9375rem;
    }

    .p-password {
        display: inline-flex !important;
    }

    .p-password .p-password-overlay {
        min-width: 100%;
    }

    .p-password-meter {
        height: 10px;
    }

    .p-password-strength {
        height: 100%;
        width: 0;
        transition: width 1s ease-in-out;
    }

    .p-fluid .p-password {
        display: flex;
    }

    .p-password-input::-ms-reveal,
    .p-password-input::-ms-clear {
        display: none;
    }

    .p-password.p-invalid.p-component > .p-inputtext {
        border-color: #f87171;
    }

    .p-password-overlay {
        background: $white !important;
        padding: 8px 12px !important;
        margin: 4px 0;
        color: #334155 !important;
        border: 1px solid $gray-400 !important;
        border-radius: 4px !important;
    }

    .p-password-overlay .p-password-meter {
        //background: red !important;
        height: 4px !important;
    }
    .p-password-meter {
        height: 4px !important;
        background: $gray-100 !important;
    }

    .p-password-meter-label {
        border-radius: 4px !important;
        transition: .5s;

        &.p-password-meter-weak {
            height: 100%;
            background: $red-400 !important;
        }

        &.p-password-meter-medium {
            height: 100%;
            background: $yellow-400 !important;
        }

        &.p-password-meter-strong {
            height: 100%;
            background: $green-400 !important;
        }
    }

    .p-password-overlay .p-password-meter .p-password-strength-weak {
        background: #ef4444 !important;
    }

    .p-password-overlay .p-password-meter .p-password-strength-medium {
        background: #f59e0b !important;
    }

    .p-password-overlay .p-password-meter .p-password-strength-strong {
        background: #22c55e !important;
    }

    .p-password-overlay .p-password-meter {
        margin-bottom: 0.75rem;
        background: #e2e8f0;
        border-radius: 6px;
    }

    .p-password-overlay .p-password-meter .p-password-strength {
        border-radius: 6px;
    }

    .p-password-overlay .p-password-meter .p-password-strength.weak {
        background: #ef4444;
    }

    .p-password-overlay .p-password-meter .p-password-strength.medium {
        background: #f59e0b;
    }

    .p-password-overlay .p-password-meter .p-password-strength.strong {
        background: #22c55e;
    }


    .p-icon-field {
        position: relative;
    }

    .p-icon-field > .p-input-icon {
        position: absolute;
        top: 50%;
        margin-top: -0.5rem;
    }

    .p-fluid .p-icon-field-left,
    .p-fluid .p-icon-field-right {
        width: 100%;
    }

    .p-icon-field-left > .p-input-icon:first-of-type {
        left: 0.75rem;
        color: #94a3b8;
    }

    .p-icon-field-right > .p-input-icon:last-of-type {
        right: 0.75rem;
        color: #94a3b8;
    }

    .p-icon-field-left > .p-inputtext {
        padding-left: 2.5rem;
    }

    .p-icon-field-left.p-float-label > label {
        left: 2.5rem;
    }

    .p-icon-field-right > .p-inputtext {
        padding-right: 2.5rem;
    }
}